---
---

body {
  background-color: #ffffff !important;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

header {
  padding: 20px;
  background-color: rebeccapurple;
  text-align: center;

  h2 {
    color: white;
    font-weight: 100;
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 60px;
  background-color: black;
  text-align: center;
  width: 100%;
  
  p {
    color: white;
    height: 60px;
    margin-top: 20px;
      font-size: 13px;
  }
}

.container {
  display: flex;
  margin-bottom: 100px;
  div {
    flex: 1;
  }
  article {
    flex: 1;
  }
}

article {
  background-color: #eaeaea;
  height: 100%;
  padding: 20px;
  h3 {
    text-align: center;
  }
}

.post-header {
  background-color: #252525 !important;
    border-radius: 10px;
    box-shadow: inset 0 3px 30px black;
  h1, p {
    color: white;
    font-weight: 100;
  }
}
